body {
    overflow-x: hidden; /* Evita a rolagem horizontal */
    margin-bottom: 20px;
}
.container {
    background-color: white;
    margin: 0;
    padding: 0;
}


.header {
    height: 15%;
    width: 100%;
}

.content {
    height: 85%;
    width: 100%;
}
.custom-select-height {
    min-height: 40px; /* Defina a altura mínima desejada */
}
