body {
    overflow-x: hidden; /* Evita a rolagem horizontal */
}
.container {
    background-color: white;
    margin: 0;
    padding: 0;
}


.header {
    height: 15%;
    width: 100%;
}

.content {
    height: 85%;
    width: 100%;
}