.containerButton {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


.buttonCadastro {
  background-color: #1088AE;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  align-items: flex-start;
  margin-bottom: 25px;
}

.buttonCadastro:hover {
  background-color: #0c6c89;
}

.container {
  padding: 10px;
  margin: 2%;
}


.tableContainer {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  background-color: #fff;
  color: #666666;
  margin-top: 30px;
}

.tableContainer table {
  border-collapse: collapse;
  width: 100%;
  /* color: #666666; */
}

.tableContainer th, .tableContainer td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd; 
 
}

.tableContainer th {
  background-color: #fff;
  color: #1088AE;
  border: 1px solid #ddd; /* Adiciona uma borda de 1px sólida com cor #ddd */
  text-align: left;
  padding: 8px;
}

.tableContainer tr:nth-child(odd) {
  background-color: #1089ae13;;
}

.tableContainer tr:hover {
  background-color: #1089ae53;
}

.tableContainer th:nth-child(1), .tableContainer td:nth-child(1) {
  width: 50%; /* Define a largura da primeira coluna como 100 pixels */
}

.tableContainer th:nth-child(2), .tableContainer td:nth-child(2) {
  width: 15%; /* Define a largura da segunda coluna como 150 pixels */
}


