.container{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    }
    
    .closeIcon{
        width: 30px;
        height: 30px;
        fill: #1088AE;
    }
    
    .titleClose{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .data{
        display: flex;
        flex-direction: row-reverse;
    
    }
    
    .descricaoTextarea {
        width:100%;
        height: 80px;
        resize: none; 
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 10px;
        color: #666666;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    
    
    .title {
        font-weight: bolder;
        color: #1088AE;
        margin-top: 0;
    }
    
    .button {
        margin-top: 20px;
        width: 8.75rem;
        height: 2.8rem;
        background-color: #1088AE;
        margin-bottom: 0px;
    }
    
    .containerButton{
        margin-top: 35px;
        display: flex;
        flex-direction: row-reverse;
    
        
    }
    
    .button:hover {
        background-color: #0c6c89;
    }
    
    
    .input {
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        background-color: #fff;
        color: #666666;
        width: 99%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    
    .inputData{
        height: 34px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        background-color: #a6deef89;
        color: #666666;
        width: 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .tituloCampos{
        font-size: 16px;
        color: #666666;
    }
    
    

    .customQuill {
        margin-top: 10px;
        width: 100%;
        height: 210px; 
    }
    
    .alinhamento{
        margin-bottom:6px;
        color: #666666;
    }
