
  .nomePaciente{
    color: #1088AE;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 18px;
    text-align: start;
    padding-left: 15px;
  }
  
  .quadro {
    flex-direction: column;
    border-bottom: 1px solid black; /* Define uma borda inferior sólida de 5px com cor preta */
    padding-top: 10px;
    color: #666666;

}

  .paginas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 40px; 
  }
  
  
  .pagina {
  justify-content: center;
  }
  
  .paginaSelecionada {
    border-bottom: solid 2px black;

    justify-content: center;
    }
  
  